@import "../../scss/_variables";
@import "../../scss/mixin&extend";

.carousel__item {
	width: 15.063rem;
	height: 15.313rem;
	margin: 0 2.063rem 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 16px;
	box-shadow: 0 5px 22px 0 #0000000a;
	background-color: $white;

	.carousel__img {
		width: 2.188rem;
		height: 2.188rem;
	}
	.carousel__title {
		margin: 0.9rem 0 0 0;

		font-family: $openSans-semi-bold;
		font-size: 1.25rem;
		letter-spacing: 0.4px;
		color: $black;
		text-transform: capitalize;
	}
}
.carousel__item:hover {
	box-shadow: 0 21px 44px 0 #00000014;
}
