@import "../../scss/_variables";
@import "../../scss/mixin&extend";

.carousel__controls {
	width: 100.75rem;
	display: flex;
	justify-content: space-between;

	.carousel__title {
		font-family: $nunito-bold;
		font-size: 2.25rem;
		color: $black;
		text-transform: capitalize;
	}
	.carousel__controls-container {
		display: flex;
		align-self: center;

		font-family: $openSans-regular;
		font-size: 1rem;
		color: $dark-grey;
		text-transform: capitalize;

		.carousel__btn-caterogies {
			margin: 0 3rem 0 0;

			font-family: $openSans-semi-bold;
			font-size: 1rem;
			color: $dark-grey;
			text-transform: capitalize;
		}
		.carousel__btn-caterogies::after {
			content: url("../../images/svg/arrow-right-gray.svg");
			margin: 0 0 0 0.5rem;
		}
	}
}
