@import "../../scss/_variables";
@import "../../scss/mixin&extend";

.carousel__btn {
	width: 2.375rem;
	height: 2.375rem;

	border-radius: 10px;
	background-color: $orange;
}
.carousel__btn:last-child {
	margin: 0 0 0 0.8rem;
}
.disabled {
	background-color: $dark-white;
}
