// ! COLORS

// WHITE

$white: #fff;
$dark-white: #f1f1f1;
$smooth-white: #f8f8f8;
$light-white: #f9f9f9;
$off-white: #fff9eb;
$dark-off-white: #fcf7eb;

// BLACK

$black: #222;
$light-black: #252525;
$dark-black: #333;

// GREY

$grey: #898989;
$light-grey: #9d9d9d;
$dark-grey: #777;
$brownish-grey: #666;
$pinkish-grey: #c7c7c7;
$greyish: #a9a9a9;
$greyish-brown: #555;

// ORANGE

$orange: #ffc43f;
$yellow-orange: #ffa801;
$dusty-orange: #ed8939;

// BLUE

$blue: #e6f3fa;
$light-blue: #e1f7f9;

// GREEN

$green: #a3bf4c;
$light-green: #eef5e4;

// LIGHT

$light: #ffeada;
$dark-light: #f9ecde;

// PINK

$darkish-pink: #dd5c80;
$blush-pink: #bc4b68;

// ! FONTS

// OPENSANS

$openSans-regular: "openSans-regular";
$openSans-semi-bold: "openSans-semi-bold";

// NUNITO

$nunito-bold: "nunito-bold";

//CORMODANTGARAMOND

$cormodantGaramond-regular: "cormodantGaramond-regular";
